/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  background: lightblue url("@site/static/img/banner/banner.jpg");
  background-size: 100vw;
}
.container {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 300px;
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
}

.heroBanner {
}

.container img {
  border-radius: 50%;
  cursor: pointer;
}
.container .avt_wrapper:hover {
  box-shadow: 5px 5px 20px 20px #958383;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
